{% extends 'Education/base.html' %}

{% block title %}
Real Recusive -About Us     
{% endblock title %}

{% block body %}
{% load static %}

	<!-- section -->
	
	<section class="inner_banner">
	  <div class="container">
	      <div class="row">
		      <div class="col-12">
			     <div class="full">
				     <h3 style="margin-top:100px;">About us</h3>
				 </div>
			  </div>
		  </div>
	  </div>
	</section>
	
	<!-- end section -->
   
	<!-- section -->
    <div class="section margin-top_50">
        <div class="container">
            <div class="row">
                <div class="col-md-6 layout_padding_2">
                    <div class="full">
                        <div class="heading_main text_align_left">
						   <h2><span>Welcome To</span>Real Recursive</h2>
                        </div>
						<div class="full">
						  <p>How many times were you frustrated while looking out for a good collection of
                            programming/algorithm/interview questions? What did you expect and what did you get? This
                            portal has been created to provide well written, well thought and well explained solutions
                            for selected questions.</p>
						</div>
						<div class="full">
						   
						</div>
                    </div>
                </div>
				<div class="col-md-6">
                    <div class="full">
                        <img src="{% static 'images/img2.p' %}ng" alt="#" />
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- end section -->
	<!-- section -->
    <div class="section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_center">
						   <h2><span>Team</span></h2>
                        </div>
					  </div>
                </div>
				<div class="col-md-6">
                    <div class="full blog_img_popular">
                       <img class="img-responsive" src="{% static 'images/kapil.jpg' %}" height="450px" alt="#" /> 
					   <h4>Kapil Mewada</h4>
                    </div>
                </div>
				<div class="col-md-6">
                    <div class="full blog_img_popular">
                        <img class="img-responsive" src="{% static 'images/pankaj.jpeg' %}" height="450px" alt="#" />
						<h4>Pankaj Lal</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- end section -->
    {% endblock body %}