{% extends 'Education/base.html' %}

{% block title %}
Real Recusive - Downloads   
{% endblock title %}

{% block body %}
{% load static %}
<!-- body -->
<div class="container">
    {% if data %}
    <div class="row row-cols-1 row-cols-md-3">
    {% for blog in data %}
    <div class="col mb-4">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{blog.name}}</h5>
          <p class="card-text">{{blog.desc |slice 0:50}}....</p>
        </div>
        <div class="card-footer">
            <a href="{{blog.link}}" class="btn btn-success">Download</a>
        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <h1 class="align-center">No Downloads Found!! Contact Us</h1>
    {% endif %}
</div>
</div>

{% endblock body %}